@charset "utf-8";
/*顶部*/
#tou{
	height:90px;
	background:#011e03;
}
#tou .tou1{
	height:90px;
	background:#011e03;
}
#tou .tou1 img{
	text-align:center;
}
#jps{
	height:155px;
	background:#011e03;
}
#jps .dh1{
	height:155px;
	background:#011e03;
}


.ding{
	width:1200px;
	height:51px;
}
.ding h2{
	width:l68px;
	height:40px;
	font-size:12px;
	color:#b2b2b2;
	line-height:40px;
	float:left;
}
.ding .tu1{
	width:400px;
	height:51px;
	float:right;
}
.ding .tu1 p img{
	width:90px;
	height:30px;
	border-right:1px solid #ffffff;
	float:right;
	margin-top:6px;
}
.daohang{
	height:104px;
}
.daohang .logo h1{
	width:240px;
	height:79px;
	margin-top:10px;
	float:left;
	
}
.daohang .erwie{
	float:left;
}
.daohang .you{
	width:780px;
	height:20px;
	margin:0 0 20px;
	background:#011e03;
	float:right;
}
.daohang .you ul li a{
	float:left;
	color:#cccccc;
	padding-left:10px;
	height:40px;
	margin-left:10px;
	font-size:14px;
}
.daohang .you ul li a:hover{
	color:#FFFDEF;
}
.daohang .you ul li p{
	float:left;
}
.daohang .you ul li p i{
	font-size:40px;
}
.daohang .fei{
	width:750px;
	height:35px;
	float:right;
	padding-top:20px;
	color:#ffffff;
	line-height:35px;
}
.daohang .fei p{
	float:left;
	padding-right:10px;
	font-size:12px;
}
.daohang .fei .qx{
	border-right:none;
}
.daohang input{
	float:right;
	font-size:12px;
	
}
.daohang .tj1{
	width:60px;
	height:26px;
	border-radius:0 5px 5px 0;
	background:#411107;
	border:3px solid #fff;
	boder-left:0;
	color:#fff;
	margin-right:10px;
}
.daohang .tj2{
	width:175px;
	height:20px;
	border-radius:5px 0 0 5px;
	border-right:0;
	border:3px solid #fff;
}
#nav{
	height:40px;
	background:#011e03;
}
#list{
	height:40px;
	background:#011e03;
}
#list ul li{
	float:left;
	position:relative;
}
#list ul ul{
	position:absolute;
	background:rgba(36,168,93,1);
	left:0;
	top:40px;
	display:none;
	z-index:20;
}
#list ul ul li{
	border-bottom:1px solid #fff;
}

#list a{
	padding:0 16px 0 11px;
	height:40px;
	text-align:center;
	font-size:16px;
	color:#fff;
	line-height:40px;
}
#bane {
  width: 2900px;
  height: 300px;
}
#bane p {
  width: 100px;
  height: 100px;
}
#bane p a {
  color: red;
}