@charset "utf-8";
body{
    width:100%;
    height:100%;
    background:#011e03;
    position:relative;
}
//固定客服框
#kf{
    position:fixed;
    bottom:200px;
    right:0;
    z-index: 100;
    button{
        position:absolute;
        top:0;
        right:0;
        border-radius: 15px;
    }
}
//缓冲广告效果
#guang_a{
    width:30px;
    height:500px;
    background:#FFFDEF;
    position:absolute;
    top:10px;
    z-index: 20;
    a{
        height:100px;
        color:#000000;
        margin:20px 0;
        text-align:center;
        &:hover{
            i{
                font-size:30px;
            }
            span{
                font-size:14px;
            }
        }
        i{
            font-size:20px;
        }
        span{
            font-size:10px;
        }
    }
}
#banner{
    height:415px;
    background:#011e03;
    .banner{
        width:1200px;
        height:410px;
        padding-top:5px;
        background:#011e03;
    }
}
.cen1_lw{
    width:225px;
   height:400px;
   float:left;
    background:#012701;
    overflow:hidden;
    .ilistmw{
        width:225px;
        height:79px;
        overflow:hidden;
        border-bottom:1px solid #fff;
        h3{
            width:175px;
            height:25px;
            padding:2px 30px 0 20px;
            font-size:14px;
            color:#fff;
            span{
                
            }
        }
        ul{
            li{
                height:22px;
                line-height:22px;
                display:inline-block;
                a{
                    height:79px;
                    overflow:hidden;
                    font-size:13px;
                    color:#fff;
                    float:left;
                    margin-right:10px;
                    &:hover{
                        color:#e2b000;
                    }
                    
                }
            }
        }
    }
}
//一号轮播
.cen1_zw{
    width:700px;
    height:400px;
    float:left;
    margin:0 10px;
    .foucus1{
        width:700px;
        height:300px;
        overflow:hidden;
        position:relative;
        ul{
            position:relative;
            li{
                position:absolute;
                top:0;
                left:0;
            }
        }
        ol{
           position:absolute;
            bottom:10px;
            right:5px;
            li{ 
                cursor:default;
                color:green; 
                width:26px;
                height:26px;
                font-size:16px;
                line-height:26px;
                text-align:center;
                margin:2px 2px;
                float:left; 
                border-radius: 50%;
                 
            }
        }
    }
}
ol li.current{
    
    background:#011e03;
}
.foucus2{
    width:700px;
    height:95px;
    overflow:hidden;
   position:relative;
    ul{
        width:700px;
         height:100px;
        li{
            width:230px;
            height:95px;
            float:left;
            display:inline;
            margin-right:3px;
            position:relative;
            p{
                position:absolute;
                width:230px;
                height:30px;
                
                bottom:-30px;
                line-height:30px;
                text-align:center;
                color:#fff;
                background:rgba(1,30,3,0.5);
            }
        }
    }
   
}
.cen1_rw{
    width:255px;
    height:400px;
    float:right;
    background:#012701;
}
.cen1_rw {
  width: 255px;
  height: 400px;
  float: right;
  background: #012701;
  .tou6{
    width:255px;
    height:85px;
    background:#011e03;
  }
  .neww1{
    width:225px;
    height:30px;
    padding:5px 15px 0 15px;
    line-height:30px;
    color:#fff;
    border-bottom:1px solid #013601;
    h3{
        font-size:14px;
        span{
            font-weight: bolder;
            float:left;
        }
        a{
            float:right;
        }
    }
  }
  .fas{
      width:225px;
      margin-top:1px;
      padding:10px 15px;
      li{
          a{
              font-size:14px;
              color:#AFAFAF;
              &:hover{
                  color:#fff;
              }
          }
      }
  }
  .fgsw{
     a{
         width:125px;
         height:95px;
         float:left;
         margin:20px 2px 0 0;
         background:#012701;
         text-align:center;
        img{
            
        }
         span{
             font-size:14px;
             color:#fff;
         }
         
     }
  }
}
.clear_fix{
    .cla{
    min-height:900px;
    background:#011e03;
    position:relative;
       .product{
        width:100%;
        height:40px;
        h4{
            float:left;
            height:35px;
            line-height:35px;
            margin-top:5px;
            color:#ebe3d7;
            text-indent:30px;
            font-size:20px;
        }
        span{
            height:30px;
            margin-top:10px;
            line-height:30px;
            color:#fff;
            font-size:14px;
            padding-left:10px;
            float:left;
        }
        
    }
    .cztjfw{
            width:1200px;
            height:300px;
        .czt1{
            width:570px;
            height:290px;
            margin-top:10px;
            float:left;
            overflow:left;
            position:relative;
            overflow:hidden;
            ul{
                position:absolute;
                width:2280px;
                height:300px;
                top:0;
                left:0;
                li{
                    float:left;
                }
            }
            #left,#right{
                z-index: 10;
                position:absolute;
                float:left;
                width:30px;
                height:40px;
                opacity:0.4;
                bottom:10px;
                font-size:30px;
                line-height:40px;
                text-align:center;
                font-weight:bolder;
                cursor:pointer;
                background:pink;
                border-radius: 10px;
            }
            #left{
                left:10px;
            }
            #right{
                left:530px;
            }
           
        }
        .czt2{
            width:300PX;
            height:300px;
            float:left;
            img{
                margin-left:15px;
            }
            
        }
        .czt3{
            width:312px;
            height:300px;
            padding-left:5px;
            float:right;
            ul{
                width:312px;
                height:270px;
                
                li{
                    width:100px;
                    height:83px;
                    overflow:hidden;
                    float:left;
                    position:relative;
                    margin:0 0 4px 4px;
                    img{
                        width:100px;
                        height:83x;
                        position:absolute;
                        overflow:hidden;
                    }
                 
                }
                .niimgcpic{
                    background:#012701;
                    width:100px;
                    height:25px;
                    line-height:25px;
                    margin-left:4px;
                    text-align:center;
                    a{
                       font-size:14px;
                       color:#AFD0FF; 
                       &:hover{
                           color:#fff;
                       }
                    }
                    
                }
            }
        }
    }
    .proo{
        position:relative;
        height:100px;
    .produ{
       
        li{
             width:223px;
             height:338px;
             margin:8px;
             background:#dfdfdf;
             float:left;
             .pro{
                    width:223px;
                    height:223px;
                    overflow:hidden;
                    position:relative;
                 img{
                     position:absolute;
                     width:100%;
                     height:100%;
                     &:hover{
                         width:263px;
                         height:263px;
                         top:-20px;
                         left:-20px;
                     }
                 }
             }
             .p_con{
                 .p_cco{
                     width:100%;
                     height:55px;
                     line-height:55px;
                     text-align:center;
                     color:#333;
                     font-size:14px;
                     font-weight:bolder;
                 }
                 .a_con{
                     width:100%;
                     height:55px; 
                     position:relative;     
                     .p_con1{
                     span{
                         width:160px;
                         height:24px;
                         float:left;
                         height:24px;
                         line-height:24px;
                         font-size:14px;
                         overflow:hidden;
                     }
                 }  
                    .p_con2{
                        width:40px;
                        height:40px;
                        position:absolute;
                        right:10px;
                        top:6px;
                        border:1px solid #011E03;
                        background:#F5F2F0;
                        text-align:center; 
                        font-size:14px;
                        border-radius: 5px;
                        a{
                            color:#000;
                        }
                        &:hover{
                            color:#fff;
                            background:#B6B6B6;
                            font-size:14px;
                        }
                    }   
                 }
           
             }
        }
    }
    }
}
} 
//签约合作
.listtitleo{
    height:700px;
    position:relative;
    background:#011e03;
    margin-top:25px;
    .titwrap{
        width:100%;
        height:40px;
        
        
        h3{
            height:35px;
            line-height:35px;
            margin-top:5px;
            color:#ebe3d7;
            float:left;
            font-size:20px;
            text-indent:30px;
        }
        a{
            height:35px;
            line-height:35px;
            float:right;
            margin:5px 15px 0 0;
            color:#ebe3d7;
            font-size:14px;
        }
    }
    .hzhbtop{
        
        width:100%;
        margin-top:10px;
    }
    .yddsul{
        width:100%;
        height:485px;
        padding:10px 0 15px 0;
        li{
            float:left;
            width:140px;
            height:170px;
            margin:5px;
            
            a{  
                position:relative;
                width:140px;
                height:140px;
                overflow:hidden;
               img{
                   position:absolute;
                   width:100%;
                   height:100%;
                &:hover{
                    width:160px;
                    height:160px;
                    left:-10px;
                    top:-10px;
                }
            }
            }
            span{
                display: block;
                width:140px;
                height:25px;
                background:#1e1e1e;
                font-size:14px;
                color:#fff;
                text-align: center;
                line-height:25px;
            }
        }
    }
}
.ifczs{
    height:400px;
    margin-top:30px;
    position:relative;
    //选项卡左边
    #ifczstop{
       width:870px;
       height:42px;
        float:left;
       background:#012701;
       .ifczstab{
           width:870px;
            height:42px;
            li{
               float:left;
               height:35px;
               line-height:35px;
               font-size:16px;
               margin-top:5px;
               padding:0 30px;
               color:#AFAFAF;
               font-weight: bold;
               float:left;
               
        } 
        .active{
            background:#55A532;
            border-bottom:2px solid #B3D4FC;
            color:#fff;
        }
       }
       #xuan{
           width:810px;
           height:325px;
           overflow:hidden;
           background:#002100;;
            .ifczscount{
               width:810px;
               height:325px;
               margin-top:-5px;
               padding:20px 30px;
               display:none;
               li{
                   width:370px;
                   height:35px;
                   line-height:35px;
                   float:left;
                   margin-left:35px;
                   font-size:14px;
                   
                   
                   a{
                       color:#b6b6b6;
                       &:hover{
                           color:#fff;
                       }
                   }
               }
           }
           .ifczstab1{
               display:block;
           }
       }
      
        
    }
    //选项卡右边
    .igzph{
       width: 315px;
       height:400px;
       margin:0 0 0 15px;
       background:#002100;
       float:left;
      
    }
    
    .igztit2{
            width:315px;
            height:35px;
            float:left; 
            background:#012701;
            line-height:35px;
            text-align:center;
           span{
               float:left;
               font-size:16px;
               color:#fff;
           }
           a{
               float:right;
               font-size:16px;
               color:#fff;
           }
    }
    .gztabt1{
        width:318px;
        height:35px;
        float:left;
        margin-top:-1px;
        background:#013D01;
        a{
            width:103px;
            height:35px;
            color:#fff;
            line-height:35px;
           float:left;
           margin-right:1px;
           text-align:center;
        }
        .gztabt_h{
             background:#55A532;
            border-bottom:2px solid #B3D4FC;
            color:#fff;
        }
    }
   .gztabt2{
       width:275px;
       height:290px;
       overflow:hidden;
       float:left;
       ul{
           display: none;
           margin:5px;
           li{
              width:100%;
              height:29px;
              line-height:29px;
              span{
                  float:left;
                  width:20px;
                  height:20px;
                  border-radius: 14px;
                  background:pink;
                  font-size:14px;
                  color:#fff;
                  text-align:center;
                  line-height:20px;
                  margin:0 0 0 5px;
              }
              a{
                  font-size:14px;
                  float:left;
                  color:#b6b6b6;
                  padding-left:10px;
              }
           }
       }
       .gztabcb{
           display:block;
       }
   }
}

//四张图
.buttia{
    height:120px;
    margin-top:15px 0 0 -10px;
    background:#011e03;
    li{
        width:232px;
        height:120px;
        margin:0 55px 0 10px;
        float:left;
       &:hover{
           img{
               position:absolute;
                width:242px;
                height:96px;
                top:-5px;
                left:-5px;
           }
           span{
                color:#fff;
                background:#AFAFAF;
           }
       }
        p{
             width:232px;
             height:86px;
             position:relative;
             overflow:hidden;
           img{
            width:232px;
            height:86px;
            } 
        } 
        
        span{
            display:block;
            width:232px;
            height:34px;
            line-height:34px;
            text-align:center;
            background:#dfdfdf;
            color:#333333;
            font-size:14px;
        }
    }
}
//包邮
.noticebox{
    height:50px;
    background:#eee;
    padding:15px;
    margin-top:20px;
    .notice_a{
        li{
            padding-left:32px;
            margin-left:32px;
            float:left;
            img{
                float:left;
                margin:-5px 15px 0 0 ;
            }
            div{
                float:left;
                h3{
                   font-size:19px;
                   color:#005c03;
                   line-height:19px; 
                }
                p{
                    font-size:12px;
                    color:#2c2c2c;
                    line-height:14px;
                    padding-top:3px;
                }
            }
        }
    }
}
//底部导航
.count{
    height:50px;
    margin:0 74px;
    
    .footnavw{
        margin:0 auto;
        width:400px;
        height:50px;
        margin:0 auto;
        margin-top:10px;
      li{
         float:left;
         a{
            color:#ccc; 
            margin:0 5px;
            line-height:50px;
          text-align:center;
         
         } 
      } 
      span{
          line-height:50px;
          text-align:center;
          float:left;
          color:#ccc;
          text-align:center;
      }
    }
}

.count_2{
       height:75px;
       .footer_2{
           width:1152px;
           height:75px;
            a{
                margin:0 auto;
            } 
       }
}
