@charset "utf-8";
.count{
    width:100%;
    min-height:100px;
    background:#011E03;
}
.pmenu_list{
    height:84px;
    background:#012701;
    margin-top:15px;
    padding-bottom:10x;
    overflow:hidden;
    font-family:"微软雅黑";
    ul{
       float:left;
       margin:0 17px;
       li{
           float:left;
           a{
               float:left;
               color:#999999;
               font-size:14px;
               &:hover{
                   color:#fff;
                   text-decoration:underline;
               }
           }
           span{
               float:left;
               padding:0 17px;
               margin-top:-1px;
               color:#999999;
               font-size:14px;
           }
       }
        
    }
}
.nowposition{
    width:1170px;
    height:40px;
    line-height:40px;
    margin-left:30px;
    margin:0 auto;
    a{
        color:#fff;
        font-size:14px;
        float:left;
    }
    span{
        font-size:14px;
        color:#fff;
        float:left;
    }
}
//大图
.atcw{
    height:600px;
    background:#011E03;
    position:relative;
    .actimgs{
        width:700px;
        height:600px;
        margin:15px;
        float:left;
        position:relative;
        #small{
            width:420px;
            height:420px;
            float:left;
            overflow:hidden;
            position:relative;
            li{
                width:420px;
                height:420px;
                position:absolute;
                display: none;
                img{
                    width:420px;
                    height:420px;
                }
            }
            .coon{
                display: block;
            }
            &:hover{
                .big{
                    display:block;
                    cursor:move;
                }
            }
            
        }
        .big{
                width:210px;
                height:210px;
                background:pink;
                position:absolute;
                z-index: 10;
                opacity:0.4 ;
                display:none;
            }
        ol{
            width:240px;
            height:600px;
            float:left;
            margin-left:5px;
            li{
                width:100px;
                height:100px;
                float:left; 
                position:relative;
                margin:2px;
                border:1px solid #DFDFDF;
                overflow:hidden;
                img{
                  width:100px;
                  height:100px;
                  
                  &:hover{
                      width:110px;
                      height:110px;
                      position:absolute;
                      top:-5px;
                      left:-5px;
                  } 
                }
            }
            
        }
        .img_d{
            width:490px;
            height:490px;
            position:absolute;
            left:680px;
            overflow:hidden;
     
            img{
                position:absolute;
                width:980px;
                height:980px;
                display:none; 
            }
            .act_ive{
            display:block;
         }
        }
        
    }
    
}

.actinfo{
    width:400px;
    height:550px;
    float:right;
    margin:14px 35px 0 0;
    .shopinfo{
                width:400px;
                height:550px;
                p{
                     font-size:24px;
                     color:#fff;
                }
                button{
                        font-size:24px;
                        color:#000;
                 }
                img{
                     width:400px;
                     height:400px;
                 }
            }
}

//结算
.jei{
    width:300px;
    height:200px;
    position:fixed;
    bottom:0px;
    right:0;
    
    .btna{
        width:80px;
        height:80px;
        border-radius: 40px;
        background:yellow;
        position:absolute;
        right:0;
        bottom:0;
        z-index: 100;
        i{
            font-size:80px;
        }
    }
    .jsk{
        width:300px;
        height:220px;
        background:blue;
        text-align:center;
        padding-top:5px;
        position:absolute;
        bottom:-225px;
        z-index: 40;
        i{
            font-size:40px;
            color:red;
            border:1px solid #fff;
            padding:2px;
        }
        p{
             padding-top:60px;
            font-size:28px;
            span{
               
                color:red;
                font-size:30px;
            }
        }
    }
    .fkbz{
        width:300px;
        height:40px;
        font-size:26px;
        background:yellow;
        position:absolute;
        bottom:220px;
        right:-300px;
        z-index: 20;
        i{
            float:left;
            font-size:26px;
        }
        h2{
            float:left;
            font-size:24px;
        }
     .btnq{
         position:absolute;
         right:0;
         top:0;
         border-radius: 5px;
     }
    }
}





 .dib{ 
     height:75px;
     background:#011E03;
     border-top:1px solid #AFAFAF;
    .count_2{
           height:75px;
           .footer_2{
               width:1152px;
               height:75px;
                a{
                    margin:0 auto;
                } 
           }
    }
    } 