@charset "utf-8";
body{
    width:100%;
    height:100%;
    background:#002100;
}
.zhu_zc{
    width:500px;
    height:600px;
    margin: 0 auto;
    margin-top:50px;
    background:#708090;
    border-radius: 50px;
    h2{
        width:500px;
        height:60px;
        line-height:60px;
        margin:40 0px;
        color:#fff;
        font-size:28px;
        text-align:center;
    }
    
    .zhu_z{
        width:350px;
        height:20px;
        margin:0 auto;
        margin:20px 0;
    }
    .btn1{
        width:40px;
        height:30px;
        align-content: center;
        margin:30px 230px;
    }
}

